@tailwind base;
@tailwind components;
@tailwind utilities;

*{
   scroll-behavior: smooth;
}
/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
